/* Check Out */
.returning-customers a, .returning-customers a:hover, .returning-customers a:active, .returning-customers a:focus {
  color: #ca1f26;
  font-weight: 600;
  margin-left: 3px;
}

.ship-different .custom-heading label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.ship-different .custom-heading h2 {
  margin: 0;
}
